<%= form_for @movie, html: { :multipart => true } do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if !@movie.image.nil? %>
    <%= image_tag @movie.image.url(:medium), id: 'movie_img' %>
  <% end %>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :length %><br>
    <%= f.text_field :length, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :director %><br>
    <%= f.text_field :director, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :rating %><br>
    <%= f.text_field :rating, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: '' %>
  </div>
  <div class="form-group">
    <%= f.submit "Upload New Movie", class: 'btn btn-primary btn-lg clearfix' %>
  </div>
<% end %>
