<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="#collapse" data-target="#collapse">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>
        <i class="fa fa-film"></i> Movie Reviews
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
        <li><%= link_to "New Movie", new_movie_path, class: "active" %></li>
        <li><%= link_to "Account", edit_user_registration_path %></li>
        <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path, class: "active" %></li>
        <li><%= link_to "Sign In", new_user_session_path, class: "active" %></li>
        <% end %>
      </ul>

      <form class="navbar-form navbar-right" role="search">
        <div class="form-group input-prepend">
          <span class="add-on"><i class="fa fa-search"></i>&nbsp;</span>
          <input type="text" class="searchbar form-control" placeholder="Search">
          <input type="submit" class="btn btn-default"
        </div>
      </form>
    </div>
  </div>
</nav>
